/List_OTG_Reader/.classpath
/List_OTG_Reader/.settings
/CustomWidget/.settings
/CustomWidget/.classpath
/CustomWidget/.project
/AndroidDemo/.settings
/AndroidDemo/.classpath
/AndroidDemo/.project
/ThreadPoolTest/.project
/ThreadPoolTest/.settings
/ThreadPoolTest/.classpath
/XXJDemo/.project
/XXJDemo/.classpath
